/* Header */
#logo{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}

body{
    font-family: 'Roboto', sans-serif;
}
main{
    background-color: #f6f8f9;
    padding-top: 100px;
}
/*Button*/
.container{
    background-color: white;
    width: 900px;
    border-radius: 5px 0 0 0;
    margin:0 auto;
   
}
nav{
    border-bottom: 2px solid #c2c6c9;
    margin:auto;
    padding: 20px;
    margin-left: 15px;
}
.button1{
    background-color: #14aaf5;
    border-color: #14aaf5;
    padding: 10px;
    color: white;
    border-radius: 10%;  
}
.button2{
    background-color: white;
    padding: 10px;
    color: #c4cbd0;
    border-color:#c4cbd0;
    border-radius: 10%;  
}
/*Fine Button*/
/*Inizio Section*/
ul{
    list-style: none;
    margin-left: 0;
    padding: 0;
}
section{
    margin: 5px 0px;
}
.section-container{
    padding: 30px;
}
.check{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius:50%;
    color: green;
}
.cross{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius:50%;
    color: red;
}
h3{
    padding: 10px;
    display: inline-block;
}
.curve1{
    background-color: #14aaf5;
    color: white;
    border-radius: 25%;
    padding: 5px;

}
.curve2{
    background-color: #ab5de6;
    color: white;
    border-radius: 25%;
    padding: 5px;
}
.curve3{
    background-color: #2cc6ab;
    color: white;
    border-radius: 25%;
    padding: 5px;
}
.curve4{
    background-color: #ff9b00;
    color: white;
    border-radius: 25%;
    padding: 5px;
}
.curve5{
    background-color: #ec4a9d;
    color: white;
    border-radius: 25%;
    padding: 5px;
}
.curve6{
    background-color: #a3d116;
    color: white;
    border-radius: 25%;
    padding: 5px;
}
/*Fine Section*/

